<h1><%= @actor.name %></h1>

<div class="black-box">
  <h2>Movies</h2>
  <ul>
    <% @actor.movies.each do |role| %>
    <li>
      <%= link_to "#{role.title} (#{role.year})", movie_path(role) %>
      <%= button_to "X", remove_movie_path(@actor, role), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @movies.empty? %>
    <%= form_tag add_movie_path do |f|%>
      <%= collection_select :movie, :id, @movies, :id, :title %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<h3>Comments</h3>
<%= form_for [@actor, Comment.new] do |f| %>
  <div><%= f.text_area :content, :rows => 5 %></div>
  <%= f.submit %>
<% end %>

<%= link_to "Edit", edit_actor_path(@actor) %>
<%= button_to "Delete", actor_path(@actor), :method => :delete %>
<br><br>

<%= link_to "Back to actors", actors_path %>
