<h1><%= @movie.title %></h1>

<p><%= @movie.year %></p>

<div class="black-box">
  <h2>Actors</h2>
  <ul>
    <% @movie.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
      <%= button_to "X", remove_actor_path(@movie, actor), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@movie) do %>
      <%= collection_select :actor, :id, @actors, :id, :name %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<h3>Comments</h3>

<% @comments.each do |comment| %>
  <p>
  <%= comment.content %> - <%= time_ago_in_words comment.created_at %> ago
  </p>
<% end %>

<%= form_for [@movie, Comment.new] do |f| %>
  <div><%= f.text_area :content, :rows => 5 %></div>
  <%= f.submit %>
<% end %>

<%= link_to "Edit", edit_movie_path(@movie) %>
<%= button_to "Delete", movie_path(@movie), :method => :delete %>
<br><br>

<%= link_to "Back to movies", movies_path %>
