<h1><%= @entity.title %></h1>

<p><%= @entity.year %></p>

<div class="black-box">
  <h2>Actors</h2>
  <ul>
    <% @entity.actors.each do |actor| %>
    <li>
      <%= link_to actor.name, actor %>
      <%= button_to "X", remove_actor_path(@entity, actor), :method => :delete %>
    </li>
    <% end %>
  </ul>
  <% unless @actors.empty? %>
    <%= form_tag add_actor_path(@entity) do %>
      <%= collection_select :actor, :id, @actors, :id, :name %>
      <%= submit_tag "Add" %>
    <% end %>
  <% end %>
</div>

<%= render 'comments/all' %>

<%= render 'comments/form' %>

<%= link_to "Edit", edit_movie_path(@entity) %>
<%= button_to "Delete", movie_path(@entity), :method => :delete %>
<br><br>

<%= link_to "Back to movies", movies_path %>
